<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>746522585271-eugj6bflekgtmlenag0ogq9es43vc7hf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.746522585271-eugj6bflekgtmlenag0ogq9es43vc7hf</string>
	<key>API_KEY</key>
	<string>AIzaSyD0b153XZn3cRzCUYVaPmXMSAdWTcsOScE</string>
	<key>GCM_SENDER_ID</key>
	<string>746522585271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.waruBoraTest</string>
	<key>PROJECT_ID</key>
	<string>waru-bora-test</string>
	<key>STORAGE_BUCKET</key>
	<string>waru-bora-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:746522585271:ios:46cfc8c7c9e1c3a53a8532</string>
</dict>
</plist>